<?xml version="1.0"?>

<model>
  <name>landingpad</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Jose Tomas Unger</name>
    <email>unger@uc.cl</email>
  </author>

  <description>
    LAprilTag Array to enable Precision Landing on the WAM-V
  </description>
</model>